html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameContainer {
    position: fixed;
    width: 95%;
    height: 95%;
    /* background: red; */
    /* padding: 10px; */
}

a {z-index: 999;}

/* canvas {display: none;} */